Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-csci-3308-nox
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-base-nox | cu-cs-base-x, cu-cs-csci-3308-common
Depends: 
Architecture: all
Copyright: copyright
Changelog: changelog
Postinst: postinst
Prerm: prerm
Files: 
Description: Nox Packages for University of Colorado CSCI-3308 Course 
