Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-base-common
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-apt, cu-cs-apt-other
Depends: bash-completion, binutils, binutils-dev, binutils-doc, build-essential,
 cmake, make, curl, gdb, gdb-doc, ddd, ddd-doc, git, git-doc, htop, iptables,
 man-db, manpages, manpages-dev, manpages-posix, manpages-posix-dev,
 rsync, screen, strace, tmux, ssh, sshfs, tree, tcpdump, traceroute,
 uptimed, valgrind, zsh, wget, lynx,
 sqlite3, sqlite3-doc, libsqlite3-dev,
Suggests:
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Common Base Package for University of Colorado, Dept. of CS 
