Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-vm-unity
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-vm-common
Depends: 
Architecture: all
Copyright: copyright
Changelog: changelog
Postinst: postinst
Prerm: prerm
Files: ./CU-CS-VM-Background-Unity.png /usr/share/backgrounds/
       ./90_cu-cs-vm-unity.gschema.override /usr/share/glib-2.0/schemas/
Description: Virtual Machine Packages for University of Colorado, Dept of CS
