Section: extra
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.2
Package: cu-cs-csci3202
Maintainer: Andy Sayler (asayler) <andrew.sayler@colorado.edu>
Depends: cu-cs-foundations-base, python, python-dev, python-doc, python-numpy, python-scipy, python-matplotlib, python-pandas, ipython, ipython-doc, ipython-notebook, ipython-qtconsole
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Packages for University of Colorado CSCI-3202 Course (Intro to AI)
