Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-current-elra
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-base, cu-cs-editors, cu-cs-langs, cu-cs-extra
Depends: cu-cs-csci-1300, cu-cs-csci-2270, cu-cs-csci-2400,
 cu-cs-csci-3308, cu-cs-csci-3753,
 cu-cs-csci-4229,
 cu-cs-csci-5832
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Default CSEL (elra) course packages for Unversity of Colorado CS Dept.
