Section: extra
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.2
Package: cu-cs-foundations-vm-virtualbox
Maintainer: Andy Sayler (asayler) <andrew.sayler@colorado.edu>
Pre-Depends: dkms
Depends: virtualbox-guest-dkms, virtualbox-guest-utils, virtualbox-guest-x11
Architecture: all
Copyright: copyright
Changelog: changelog
Description: VirtualBox Guest packages for Unversity of Colorado CS Foundations VirutalBox VM
