Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-current-elra
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-base-nox, cu-cs-editors-nox, cu-cs-langs, cu-cs-extra
Depends: cu-cs-csci-1300, cu-cs-csci-1310, cu-cs-csci-1320,
 cu-cs-csci-2270-nox, cu-cs-csci-2400-nox,
 cu-cs-csci-3104, cu-cs-csci-3155, cu-cs-csci-3308-nox, cu-cs-csci-3753,
 cu-cs-csci-4239, cu-cs-csci-4830-geo,
 cu-cs-csci-5622, cu-cs-csci-5832
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Default ELRA course packages for University of Colorado CS Dept.
