Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-editors-common
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-apt
Depends: nano
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Common Editor Packages for University of Colorado, Dept of CS
