Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-current-vm
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-base-x, cu-cs-editors-x, cu-cs-nonfree-x, cu-cs-langs
Depends: cu-cs-csci-1300-x, cu-cs-csci-1310-x, cu-cs-csci-1320-x,
 cu-cs-csci-2270-x, cu-cs-csci-2400-x
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Default VM course packages for University of Colorado, Dept of CS
