Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-vm-common
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-apt, cu-cs-apt-ubuntu, cu-cs-current-vm, dkms
Depends: linux-generic-lts-utopic, linux-image-generic-lts-utopic, linux-headers-generic-lts-utopic,
 xserver-xorg, libgl1-mesa,
 zerofree, secure-delete,
 virtualbox-guest-dkms, virtualbox-guest-utils, virtualbox-guest-x11,
 open-vm-tools
Architecture: all
Copyright: copyright
Changelog: changelog
Postinst: postinst
Prerm: prerm
Files: ./cu-cs-vm-sudoers /etc/sudoers.d/
       ./cu-cs-vm.pkla /etc/polkit-1/localauthority/30-site.d/
       ./90_cu-cs-vm.gschema.override /usr/share/glib-2.0/schemas/
Description: Virtual Machine Packages for University of Colorado, Dept of CS
