Section: extra
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.2
Package: cu-cs-foundations-apt
Maintainer: Andy Sayler (asayler) <andrew.sayler@colorado.edu>
Depends: cu-cs-keyring
Architecture: all
Copyright: copyright
Changelog: changelog
Files: ./precise.list /etc/apt/sources.list.d/
 ./cs-colorado-edu.list /etc/apt/sources.list.d/
 ./precise-backports-ipython /etc/apt/preferences.d/
Description: Apt repo packages for Unversity of Colorado CS Foundations Courses 
