Section: extra
Priority: optional
Homepage: foundation.cs.colorado.edu
Standards-Version: 3.9.2
Package: cu-cs-csci4830-advrobo
Maintainer: Andy Sayler (asayler) <andrew.sayler@colorado.edu>
Pre-Depends: cu-cs-csci4830-advrobo-rosrepo
Depends: cu-cs-foundations-base, doxygen,
 python, python-dev, python-doc, python-rosdep, python-rosinstall, python-wstool,
 ros-hydro-desktop-full, ros-hydro-moveit-full, ros-hydro-rqt, 
 ros-hydro-turtlebot-simulator, ros-hydro-turtlebot-apps, ros-hydro-turtlebot-rviz-launchers,
 ros-hydro-ros-control, ros-hydro-ros-controllers, ros-hydro-gazebo-ros-control, terminator
Architecture: all
Copyright: copyright
Changelog: changelog
Postinst: postinst
Description: Packages for Unversity of Colorado CSCI-4830 Advanced Robotics Course 
