Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-csci-2270
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-base | cu-cs-base-nox
Depends: codeblocks, codeblocks-contrib,
 gcc-4.8, gcc-4.8-doc, gcc-4.8-multilib,
 g++-4.8, g++-4.8-multilib,
 qtcreator, qtcreator-doc, qt-sdk,
 gdb, ddd, valgrind
Architecture: all
Copyright: copyright
Changelog: changelog
Postinst: postinst
Prerm: prerm
Files:
Description: Packages for Unversity of Colorado CSCI-2270 Course
