Section: extra
Priority: optional
Homepage: foundation.cs.colorado.edu
Standards-Version: 3.9.2
Package: cu-cs-csci2270
Maintainer: Andy Sayler (asayler) <andrew.sayler@colorado.edu>
Depends: cu-cs-foundations-base, openjdk-7-jdk, openjdk-7-jre, openjdk-7-doc
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Packages for Unversity of Colorado CSCI-2270 Course 
