Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-vm
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-apt, cu-cs-apt-ubuntu, libglib2.0-bin
Depends: linux-generic, linux-image-generic, linux-headers-generic,
 xserver-xorg, libgl1-mesa-glx
Architecture: all
Copyright: copyright
Changelog: changelog
Postinst: postinst
Prerm: prerm
Files: ./cu-cs-vm-sudoers /etc/sudoers.d/
       ./CU-CS-VM-Background.png /usr/share/backgrounds/
       ./90_cu-cs-vm.gschema.override /usr/share/glib-2.0/schemas/
 
Description: virtual machine packages for University of Colorado CS VM
