Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-vm
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-vm-grub
Depends: linux-generic, linux-image-generic, linux-headers-generic,
 xserver-xorg, libgl1-mesa-glx,
 google-chrome-stable, dropbox
Architecture: all
Copyright: copyright
Changelog: changelog
Postinst: postinst
Prerm: prerm
Files: ./CU-CS-VM-Background.png /usr/share/backgrounds/
 ./cu-cs-vm-sudoers /etc/sudoers.d/
Description: virtual machine packages for University of Colorado CS VM
