Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-nonfree-x
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-apt, python-gpgme, python3-gpgme
Depends: google-chrome-stable, dropbox
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Non-Free Packages for University of Colorado, Dept of CS
