Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-apt-other
Maintainer: Andy Sayler (asayler) <andy.sayler@colorado.edu>
Pre-Depends:
Depends:
Suggests:
Architecture: all
Copyright: copyright
Changelog: changelog
Postinst: postinst
Prerm: prerm
Files: ./ros.list /etc/apt/sources.list.d/
 ./ros.gpg /etc/apt/trusted.gpg.d/
 ./sbt.list /etc/apt/sources.list.d/
 ./sbt.gpg /etc/apt/trusted.gpg.d/
Description: apt repo package for third party sources
