Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-csci-1300-common
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-csci-13xx-common
Depends: libsndfile1, libsndfile1-dev, libportaudio2,
 portaudio19-dev, portaudio19-doc,
 python-pygame
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Common Packages for University of Colorado CSCI-1300 Course
