
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MATLAB
Type=Application
Terminal=false
Icon=matlab
Exec=matlab -desktop
Categories=GNOME;Development;IDE;
Keywords=Code;Programming;

# Unfortunately, it doesn't look like MATLAB takes command line filenames
# but at least let a double-click open MATLAB for convenience
MimeType=application/x-matlab;application/x-matlab-figure;application/x-matlab-data
