Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-csci-4229
Maintainer: Andy Sayler (asayler) <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-base
Depends: libqt4-dev, libsdl1.2-dev, libsdl2-dev, freeglut3-dev,
 mesa-utils, mesa-utils-extra,
 python-pygame, python-numpy
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Packages for University of Colorado CSCI 4229/5229 (Computer Graphics)
