Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-csci-2270
Maintainer: Andy Sayler <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-base
Depends:  g++, g++-multilib, gcc, gcc-multilib
 openjdk-7-jdk, openjdk-7-jre, openjdk-7-doc, ant, ant-doc
Architecture: all
Copyright: copyright
Changelog: changelog
Postinst: postinst
Postrm: postrm
Files:
Description: Packages for Unversity of Colorado CSCI-2270 Course
