Section: extra
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.2
Package: cu-cs-csci3155-apt
Maintainer: Matt Monaco <matthew.monaco@colorado.edu>
Depends: 
Architecture: all
Copyright: copyright
Changelog: changelog
Files: ./chris-lea-node_js-saucy.list /etc/apt/sources.list.d/
 ./chris-lea-node_js.gpg /etc/apt/trusted.gpg.d/
Description: Apt Repos and PPAs for CU CSCI 3155
