Section: main
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.5
Package: cu-cs-csci-3656-x
Maintainer: Andy Sayler (asayler) <andy.sayler@colorado.edu>
Pre-Depends: cu-cs-base-x | cu-cs-base-nox
Depends: xfig
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Packages for University of Colorado CSCI 3656 (Numerical Computation)
