Section: extra
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.2
Package: cu-cs-csci5654
Maintainer: Andy Sayler (asayler) <andrew.sayler@colorado.edu>
Depends: cu-cs-foundations-base, glpk
Architecture: all
Copyright: copyright
Changelog: changelog
Description: CSCI 5654: Linear Programming (University of Colorado, Boulder)
