Section: extra
Priority: optional
Homepage: apt.cs.colorado.edu
Standards-Version: 3.9.2
Package: cu-cs-foundations-base
Maintainer: Andy Sayler (asayler) <andrew.sayler@colorado.edu>
Depends: binutils, binutils-doc, build-essential, gdb, gdb-doc, git, git-doc, manpages, manpages-dev, manpages-posix, manpages-posix-dev, rsync, screen | tmux, ssh, sshfs, valgrind
Suggests: cu-cs-foundations-editors
Architecture: all
Copyright: copyright
Changelog: changelog
Description: Base packages for Unversity of Colorado CS Foundations Courses 
